---
import Layout from '../../layouts/Layout.astro';

---

<Layout title="Preguntas frecuentes">
	<main class="max-w-7xl mx-auto py-28 px-10  flex flex-col gap-6">
		<h1 class="font-bold uppercase text-center text-4xl md:text-4xl md:text-5xl">Preguntas frecuentes</h1>
		<h2 class="text-2xl font-semibold opacity-75">¿Cómo puedo realizar un pedido?</h2>
		<p>Realizar un pedido es muy sencillo. Navega por nuestra tienda, selecciona los productos que deseas y agrégalos a tu carrito. Luego, dirígete a la página de pago, donde podrás introducir tu información de envío y pago. Una vez completado, recibirás una confirmación de tu pedido por correo electrónico.</p>
	
		<h2 class="text-2xl font-semibold opacity-75">¿Cuáles son los métodos de pago disponibles?</h2>
		<p>Aceptamos diversas formas de pago, incluyendo tarjetas de crédito y débito (Visa, MasterCard, American Express), PayPal y transferencias bancarias. Todos los pagos se procesan de manera segura.</p>
	
		<h2 class="text-2xl font-semibold opacity-75">¿Cuánto tiempo tarda en llegar mi pedido?</h2>
		<p>El tiempo de entrega varía según tu ubicación. Generalmente, los envíos nacionales tardan entre 3 a 7 días hábiles, mientras que los internacionales pueden tardar de 7 a 15 días hábiles. Recibirás un número de seguimiento para monitorear tu pedido.</p>
	
		<h2 class="text-2xl font-semibold opacity-75">¿Puedo devolver o cambiar un artículo?</h2>
		<p>Sí, aceptamos devoluciones y cambios dentro de los 20 días posteriores a la entrega, siempre y cuando el artículo esté en su estado original y no haya sido usado. Para iniciar una devolución o cambio, ponte en contacto con nuestro equipo de atención al cliente.</p>
	
		<h2 class="text-2xl font-semibold opacity-75">¿Cómo puedo saber mi talla?</h2>
		<p>Ofrecemos una guía de tallas detallada en cada página de producto. Si necesitas asistencia adicional, nuestro equipo de atención al cliente está disponible para ayudarte a encontrar la talla perfecta.</p>
	
		<h2 class="text-2xl font-semibold opacity-75">¿Ofrecen envíos internacionales?</h2>
		<p>Sí, realizamos envíos a muchos países alrededor del mundo. Los costos de envío y los tiempos de entrega varían según el destino. Consulta nuestra política de envíos internacionales para más detalles.</p>
	
		<h2 class="text-2xl font-semibold opacity-75">¿Cómo puedo rastrear mi pedido?</h2>
		<p>Una vez que tu pedido haya sido enviado, recibirás un correo electrónico con un número de seguimiento y un enlace para rastrear tu paquete. También puedes acceder a esta información desde tu cuenta en nuestra tienda.</p>
	
		<h2 class="text-2xl font-semibold opacity-75">¿Qué debo hacer si recibí un artículo defectuoso o incorrecto?</h2>
		<p>Lamentamos mucho este inconveniente. Por favor, contacta a nuestro equipo de atención al cliente con tu número de pedido y una foto del artículo defectuoso o incorrecto. Nos encargaremos de solucionar el problema lo antes posible.</p>
	
		<h2 class="text-2xl font-semibold opacity-75">¿Puedo cancelar o modificar mi pedido después de haberlo realizado?</h2>
		<p>Si necesitas cancelar o modificar tu pedido, contáctanos inmediatamente. Haremos todo lo posible para atender tu solicitud, aunque no podemos garantizar cambios si el pedido ya ha sido procesado.</p>
	
		<h2 class="text-2xl font-semibold opacity-75">¿Cómo puedo contactar con el servicio de atención al cliente?</h2>
		<p>Puedes ponerte en contacto con nuestro servicio de atención al cliente a través de nuestro formulario de contacto en la página web, enviándonos un correo electrónico a <a href="mailto:correo@ejemplo.com">correo@ejemplo.com</a> o llamándonos al <a href="tel:+1234567890">+1234567890</a>. Estamos disponibles de lunes a viernes, de 9:00 a 18:00 horas.</p>
	</main>
</Layout>
