---
import Layout from '../../layouts/Layout.astro';

---

<Layout title="Contacto">
	<main class="max-w-7xl mx-auto py-28 px-10 lg:px-0 flex flex-col gap-24">
		<h1 class="font-bold uppercase text-center text-4xl md:text-5xl">Contacto</h1>
	</main>
</Layout>
