---
import GenderCategory from '../components/GenderCategory.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Página principal">
	<main class="max-w-7xl mx-auto py-28 px-10 lg:px-0 flex flex-col gap-24">
		<Hero />
		<Services />
		<GenderCategory />
	</main>
</Layout>
