---
---
<footer class="bg-[#191919] min-h-[500px]">
    <div class="max-w-7xl mx-auto py-28 px-8 lg:px-0 min-h-[500px] [&>*]:text-[#F9FEFF] flex flex-col lg:flex-row gap-20 lg:gap-32">
        <div class="flex flex-col gap-5">
            <p class="font-bold text-[#F9FEFF]/75">¿Dudas?</p>
            <ul class="space-y-5 underline">
                <li><a class="">Contacto</a></li>
                <li><a class="">Mí pedido</a></li>
                <li><a class="">Preguntas frecuentes</a></li>
                <li><a class="">Ubicación</a></li>
            </ul>
        </div>
        <div class="flex flex-col gap-5">
            <p class="font-bold text-[#F9FEFF]/75">Links rápidos</p>
            <ul class="space-y-5 underline">
                <li><a class="">Inicio</a></li>
                <li><a class="">Catálogo</a></li>
                <li><a class="">Sobre nosotros</a></li>
            </ul>
        </div>
        <div class="flex flex-col max-w-[550px] flex-auto gap-5">
            <p class="font-bold text-[#F9FEFF]/75">¡No te pierdas las ultimas novedades!</p>
            <p>Al introducir su dirección de correo electrónico aquí abajo, acepta recibir nuestra newsletter con las últimas novedades sobre nuestras colecciones, eventos e iniciativas.</p>
            <input type="text" class="bg-transparent border-b uppercase p-4" placeholder="Ingrese su correo electronico">
        </div>
    </div>
</footer>