---
---
<footer class="bg-[#191919] min-h-[500px]">
    <div class="max-w-7xl mx-auto py-28 px-8 lg:px-0 min-h-[500px] [&>*]:text-[#F9FEFF] flex flex-col lg:flex-row gap-20 lg:gap-32">
        <div class="flex flex-col gap-5">
            <p class="font-bold text-[#F9FEFF]/75">¿Dudas?</p>
            <ul class="space-y-5 underline">
                <li><a href="/contacto">Contacto</a></li>
                <!-- <li><a href="/seguimiento">Mí pedido</a></li> -->
                <li><a href="/preguntas-frecuentes">Preguntas frecuentes</a></li>
                <li><a href="/sobre-nosotros#ubicacion">Ubicación</a></li>
            </ul>
        </div>
        <div class="flex flex-col gap-5">
            <p class="font-bold text-[#F9FEFF]/75">Links rápidos</p>
            <ul class="space-y-5 underline">
                <li><a href="/">Inicio</a></li>
                <li><a href="/productos">Catálogo</a></li>
                <li><a href="/sobre-nosotros">Sobre nosotros</a></li>
            </ul>
        </div>
        <div class="flex flex-col max-w-[550px] flex-auto gap-5">
            <p class="font-bold text-[#F9FEFF]/75">¡No te pierdas las ultimas novedades!</p>
            <p>Al introducir su dirección de correo electrónico aquí abajo, acepta recibir nuestra newsletter con las últimas novedades sobre nuestras colecciones, eventos e iniciativas.</p>
            <div class="flex">
                <input type="text" class="bg-transparent border-b uppercase p-4 w-full active:rounded-none" placeholder="Ingrese su correo electronico">
                <button class="bg-[#F9FEFF] text-[#191919] p-4">
                    <svg  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-send"><path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M10 14l11 -11" /><path d="M21 3l-6.5 18a.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a.55 .55 0 0 1 0 -1l18 -6.5" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</footer>