---
import Image from "astro/components/Image.astro";
import mans from '../../public/img/mans.jpg';
import woman from '../../public/img/woman.jpg';

---
<section class="flex flex-col lg:flex-row h-full gap-5 [&>*]:font-bold">
    <div class="h-full lg:h-screen w-full lg:w-3/6 border border-1">
        <a href="/#" class="relative hover:grayscale duration-300">
            <Image src={mans} alt="Hero" class="object-cover h-full lg:h-screen w-full" />
            <div class="absolute top-10 right-0 left-0 flex justify-center p-5">
                <div class="px-2 py-1 rounded-lg bg-[#F9FEFF]/25 backdrop-blur-3xl text-[#F9FEFF] self-center">
                    <p>Hombres</p>
                </div>
            </div>
            <div class="absolute bottom-10 right-0 left-0 flex flex-col gap-5 justify-center p-5">
                <div class="text-center">
                    <p class="uppercase text-[#F9FEFF] text-3xl md:text-4xl lg:text-5xl">invierno 2024</p>
                </div>
                <div class="hover:px-5 px-10 py-3 border duration-300  border-[#F9FEFF] rounded-lg bg-[#F9FEFF]/25 backdrop-blur-3xl text-[#F9FEFF] self-center">
                    <button class="">Explora la colección</button>
                </div>
            </div>
        </a>
    </div>
    <div class="h-full lg:h-screen w-full lg:w-3/6 border border-1">
        <a href="/#" class="relative hover:grayscale duration-300">
            <Image src={woman} alt="Hero" class="object-cover h-full lg:h-screen w-full " />
            <div class="absolute top-10 right-0 left-0 flex justify-center p-5">
                <div class="px-2 py-1 rounded-lg bg-[#F9FEFF]/25 backdrop-blur-3xl text-[#F9FEFF] self-center">
                    <p>Mujeres</p>
                </div>
            </div>
            <div class="absolute bottom-10 right-0 left-0 flex flex-col gap-5 justify-center p-5">
                <div class="text-center">
                    <p class="uppercase text-[#F9FEFF] text-3xl md:text-4xl lg:text-5xl text-wrap">Primavera Verano 2024</p>
                </div>
                <div class="hover:px-5 px-10 py-3 border duration-300 border-[#F9FEFF] rounded-lg bg-[#F9FEFF]/25 backdrop-blur-3xl text-[#F9FEFF] self-center">
                    <button class="">Explora la colección</button>
                </div>
            </div>
        </a>
    </div>
</section>