---
import Image from "astro/components/Image.astro";
import heroImage1 from "../../public/img/imageHero1.jpg";
import heroImage2 from "../../public/img/imageHero2.jpg";
import heroImage3 from "../../public/img/imageHero3.jpg";
---

<section class="flex h-full p-5 w-full gap-5 py-24">
    <div class="flex flex-col md:flex-row w-full gap-5">
        <div class="flex flex-col md:w-8/12 items-end gap-5">
            <div class="text-start justify-start flex items-start  flex-col gap-5 ">
                <h1 class="font-semibold uppercase text-5xl lg:text-7xl text-start">
                    Estilo que empodera, 
                    actitud que destaca
                </h1>
                <p class="font-base text-xl text-start">Porque la moda no solo se trata de ropa, sino de cómo te sientes al llevarla.</p>
                <div class="flex gap-5">
                    <button class="p-3 bg-red-500 text-white text-lg border-red-500 rounded-lg">Ver catalogo</button>
                    <button class="p-3 bg-transparent text-black text-lg border-red-500 border rounded-lg">Leer más</button>
                </div>
            </div>
            <div class="flex w-full h-full items-end gap-5">
                <div class="w-2/4 md:w-3/6 relative">
                    <Image src={heroImage2} alt="Hero Image" class="w-full h-[350px] object-cover object-top" />
                    <div class="absolute bottom-0 bg-gradient-to-t from-black to-transparent h-full w-full flex flex-col text-white items-end justify-end ">
                        <div class="p-5">
                            <h2 class="text-xl font-bold">Estilo Deportivo</h2>
                            <p>Explora nuestra línea de ropa deportiva diseñada para ofrecerte máxima flexibilidad y confort.</p>
                        </div>
                    </div>
                </div>
                <div class="w-2/4 md:w-3/6 relative">
                    <Image src={heroImage3} alt="Hero Image" class="w-full h-[350px] object-cover object-top" />
                    <div class="absolute bottom-0 bg-gradient-to-t from-black to-transparent h-full w-full flex flex-col text-white items-end justify-end ">
                        <div class="p-5">
                            <h2 class="text-xl font-bold">Chic Urbano</h2>
                            <p>Renueva tu guardarropa con nuestra colección de moda urbana. Prendas modernas y versátiles para un look fresco y contemporáneo en la ciudad.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-1 ">
            <div class="relative w-full">
                <Image src={heroImage1} alt="Hero Image" class="h-[350px] md:h-full w-full object-cover object-center" />
                <div class="absolute bottom-0 justify-center flex p-5">
                    <div class="bg-white/75 backdrop-blur-lg w-full p-5 flex flex-col gap-5">
                        <h2 class="text-2xl font-bold">Elegancia Casual</h2>
                        <p>Descubre nuestra colección de ropa que combina comodidad y estilo para tu día a día. </p>
                        <button class="p-3 bg-red-500 text-white text-lg border-red-500 rounded-lg w-auto">Ver catalogo</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>