---
---
<section class="flex">
    <div class="h-full flex flex-col md:flex-row items-center justify-center mx-auto gap-5">
        <div class="p-5 bg-gray-200 rounded-full">
            <svg width="24" height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-truck">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                <path d="M17 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M5 17h-2v-11a1 1 0 0 1 1 -1h9v12m-4 0h6m4 0h2v-6h-8m0 -5h5l3 5" />
            </svg>
        </div>
        <div class="flex flex-col items-center">
            <p class="font-bold">Moda Express: Entrega de Ropa en 24 Horas</p>  
        </div>
        <div class="p-5 bg-gray-200 rounded-full">
            <svg  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-back"><path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M9 11l-4 4l4 4m-4 -4h11a4 4 0 0 0 0 -8h-1" />
            </svg>
        </div>
        <div class="flex flex-col items-center">
            <p class="font-bold">Devoluciones en 20 Días: Sencillo y Sin Estrés</p>
        </div>
        <div class="p-5 bg-gray-200 rounded-full">
            <svg width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-shield">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M12 3a12 12 0 0 0 8.5 3a12 12 0 0 1 -8.5 15a12 12 0 0 1 -8.5 -15a12 12 0 0 0 8.5 -3" />
            </svg>
        </div>
        <div class="flex flex-col items-center">
            <p class="font-bold">Compra Segura: Tu Tranquilidad, Nuestra Prioridad</p>
        </div>
    </div>
</section>